!!! html
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %title Penning
    %meta(name="description" content="Self-hosted bookkeping")
    %meta(name="viewport" content="width=device-width")
    /[if lt IE 9]
      %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    = stylesheet_tag 'application'
    = javascript_tag 'application', expand: true
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
            %span(class="icon-bar")
            %span(class="icon-bar")
            %span(class="icon-bar")
          = link_to t('layout.nav.brand'), '/', class: 'navbar-brand'
        .collapse.navbar-collapse
          .nav.navbar-nav
            %li{class: ('active' if request.path_info.start_with?('/vouchers'))}
              = link_to t('layout.nav.vouchers'), '/vouchers'
    .container
      = yield
